.catogories{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    .item{
        img{
            border-radius: 2px;
            width: 200px;
            height: 150px;
            object-fit: cover;
        }
        .itemInfo{
            padding: 5px 0px;
            .title{
                font-weight: 800;
            }
            .desc{
                color: gray;
            }
        }
    }

}