.header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    padding: 0 20px;
    .headerContainer{
        color: white;
        width: 100%;
        max-width: 1024px;
        // background-color: rgb(104, 104, 248);
        margin: 20px 0px 100px 0px;
        .headerTitle {
            font-size: 45px;
        }
        .headerDes{
            margin-top: 10px ;
        }
        .headerSearchBar {
           
        }
    }
}